.ga_title_block{
    padding: 5px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #A1DE93;
    border: 0;
    border-bottom: 2px solid #86BE78;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0 -2px #86C078;
}
.nav-pills{
    margin-bottom: 10px;
}
.c3-region-0 {
    fill: red !important;
}
.c3-region-1 {
    fill: green !important;
}
.c3-region-2 {
    fill: #2980B9 !important;
}
.c3-region-3 {
    fill: yellow !important;
}